div.centered
    form(method="POST")
        div.uk-margin
            div.uk-inline
                span(uk-icon="icon: user").uk-form-icon
                input(type="text" name="user").uk-input
        div.uk-margin
            div.uk-inline
                span(uk-icon="icon: lock").uk-form-icon.uk-form-icon-flip
                input(type="text" name="password").uk-input
        input(type="Submit",value="Enter",name="enter").uk-button.uk-button-secondary  