div.centered
    form(method="POST")
        div.uk-margin
            div.uk-inline
                span(uk-icon="icon: user").uk-form-icon
                input(type="text" name="user_name").uk-input
        div.uk-margin
            div.uk-inline
                span(uk-icon="icon: lock").uk-form-icon.uk-form-icon-flip
                input(type="password" name="password").uk-input
        input(type="Submit",value="Enter",name="enter").uk-button.uk-button-secondary  
    case st
        when false
            p(class="uk-text-danger  uk-text-middle")=msg
