extends layout/layout

block content
    include common/header
    div(id="chartContainer" style="height: 400px; width: 100%;")
    
    script.
        $.ajax({url:`http://localhost:5000/stats`,success : function(res){
           formatRes = [];
           res.forEach(element => {
               var obj = {};

                switch(element.MONTHS){
                    case "1" : {
                        obj.label = "January";
                        break;
                    }
                    case "2" : {
                        obj.label = "February";
                        break;
                    }
                    case "3" : {
                        obj.label = "March";
                        break;
                    }
                    case "4" : {
                        obj.label = "April";
                        break;
                    }
                    case "5" : {
                        obj.label = "May";
                        break;
                    }
                    case "6" : {
                        obj.label = "June";
                        break;
                    }
                    case "7" : {
                        obj.label = "July";
                        break;
                    }
                    case "8" : {
                        obj.label = "August";
                        break;
                    }
                    case "9" : {
                        obj.label = "September";
                        break;
                    }
                    case "10" : {
                        obj.label = "October";
                        break;
                    }
                    case "11" : {
                        obj.label = "November";
                        break;
                    }case "12" : {
                        obj.label = "December";
                        break;
                    }
                }

                obj.y = parseInt(element.price);
                obj.st = true;
                formatRes.push(obj);
           })
           
           window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            
            title:{
                text:"Sales statistic"
            },
            axisX:{
                interval: 1
            },
            axisY2:{
                interlacedColor: "rgba(1,77,101,.2)",
                gridColor: "rgba(1,77,101,.1)",
                title: "$"
            },
            data: [{
                type: "bar",
                name: "Months",
                axisYType: "secondary",
                color: "#014D65",
                dataPoints: formatRes
            }]
        });
        chart.render();

        }
        }})

        