extends layout/layout

block content
    include common/header
    div(id="chartContainer" style="height: 400px; width: 100%;")
    
    script.
        window.onload = function () {
	
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            
            title:{
                text:"Sales statistic"
            },
            axisX:{
                interval: 1
            },
            axisY2:{
                interlacedColor: "rgba(1,77,101,.2)",
                gridColor: "rgba(1,77,101,.1)",
                title: "$"
            },
            data: [{
                type: "bar",
                name: "Months",
                axisYType: "secondary",
                color: "#014D65",
                dataPoints: [
                    { y: 3, label: "Sweden" },
                    { y: 7, label: "Taiwan" },
                    { y: 5, label: "Russia" },
                    { y: 9, label: "Spain" },
                    { y: 7, label: "Brazil" },
                    { y: 7, label: "India" },
                    { y: 9, label: "Italy" },
                    { y: 8, label: "Australia" },
                    { y: 11, label: "Canada" },
                    { y: 15, label: "South Korea" },
                    { y: 12, label: "Netherlands" },
                    { y: 15, label: "Switzerland" },
                ]
            }]
        });
        chart.render();

        }