p {
  font-family: "Poiret One", cursive;
}

.back {
  position: relative;
  top: 30px;
  font-size: 18px;
  color: #afafaf;
}

.front {
  position: relative;
  top: 30px;
  left: 110px;
  font-size: 18px;
  color: #afafaf;
}

.back:hover {
  color: #4b4b4c;
}

.front:hover {
  color: #4b4b4c;
}

.choose {
  font-size: 32px;
}
